<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> {% endcomment %}
    <style>
      html, body {
        height: 100%;
      }
      .full-height {
        height: 100%;
      }
      .columns {
        height: 100%;
      }
      img {
        max-height: 100vh;
      }
    </style>
  </head>
  <body>
    
    <section class="section hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Maskineriet Happenings
          </h1>
          <h2 class="subtitle">
            Hva skjer'a?
          </h2>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
    
          <div class="column is-narrow">
            
            <aside class="menu">
              <p class="menu-label">Go to TV view</p>
              <ul>
                {% for tag in tags %}
                <li><a href="{% url 'tv' tag_name=tag.name %}" class="">{{tag.name}}</a></li>
                {% endfor %}
              </ul>
              <p class="menu-label">Admin</p>
              <ul>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
              </ul>
            </aside>

          </div>

          <div class="column is-narrow">

            <table class="table is-striped">
              <thead>
                <th>Event</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Status</th>
              </thead>
              <tbody>
                {% for happening in active_happenings %}
                  <tr>
                    <td>{{happening.title}}</td>
                    <td>{{happening.start_date}}</td>
                    <td>{{happening.end_date}}</td>
                    <td class="has-text-success">{{happening.get_status}}</td>
                  </tr>
                {% endfor %}
                {% for happening in upcoming_happenings %}
                  <tr>
                    <td>{{happening.title}}</td>
                    <td>{{happening.start_date}}</td>
                    <td>{{happening.end_date}}</td>
                    <td class="has-text-warning">{{happening.get_status}}</td>
                  </tr>
                {% endfor %}
                {% for happening in finished_happenings %}
                  <tr>
                    <td>{{happening.title}}</td>
                    <td>{{happening.start_date}}</td>
                    <td>{{happening.end_date}}</td>
                    <td class="has-text-danger">{{happening.get_status}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

        </div>
      </div>
    </section>

  </body>
</html>